.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #B123AA;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .languageSwitch {
    display: flex;
    gap: 10px;
  }
  
  .languageButton {
    background-color: #555;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .languageButton:hover {
    background-color: #777;
  }