.sectionStyle{
    margin: 0;
    padding: 0;
    border-bottom: none; 
    
    background-color: var(--light-beige);
    color: var(--txt);
}

.memberStyle {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    gap: 32px;
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue-main);
    margin-bottom: 8px;
    text-align: center;
  }

  .memberBlock{
    width: 100%;
  }
  
  .memberList {
    list-style: none;
    width: 100%;
    max-width: 720px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 0.8rem;
  }
  
  .memberItem {

    border-radius: 12px;
    box-shadow: 
      0 4px 10px rgba(0, 0, 0, 0.1),         /* трохи глибша тінь */
      0 6px 18px rgba(0, 94, 158, 0.12),     /* теплий кольоровий шлейф */
      0 0 0 1px rgba(205, 189, 162, 0.15);   /* тонкий бежевий контур */
    padding: 20px 8px;
    transition: all 0.3s var(--transition);
  cursor: default;
  }
  
  .memberItem:hover {
    box-shadow: 0 10px 30px rgba(0, 94, 158, 0.4);
    transform: translateY(-6px);
  }
  
  .itemWrap {
    display: flex;
    justify-content: space-between;
    color: var(--black-txt);
  }

  .itemWrap p {
    margin: 0;
    padding: 0;
  }

  
  .itemWrap p:not(:last-child) {
    padding-right: 4px;
  }

  .itemWrap p:first-child {
    flex: 0 0 30%;
  }
  
  .itemWrap p:nth-child(2),
  .itemWrap p:nth-child(3) {
    flex: 0 0 25%;
  }

  .itemLink{
    font-size: 0.7rem;
    color: var(--blue-main);
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .interestsBlock {
    width: 100%;
    background-color: var(--light-beige);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .interestsBlock   .title {
    margin-bottom: 16px;
    padding-bottom: 6px;
  }
  
  .interestsBlock ul {
    padding-left: 20px;
    border-left: 6px solid var(--beige-hover);
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  }
  
  .interestsBlock ul li {
    margin-bottom: 8px;
    line-height: 1.5;
    color: var(--txt);
    position: relative;
  }
  
  .interestsBlock  li::before {
    content: "➤";
    color: var(--beige-hover);
    font-size: 1rem;
    margin-right: 8px;
    display: inline-block;
    width: 1em;
  }
  
  
  @media screen and (min-width: 320px) {
   
    .memberList {
      max-width: 320px;
      font-size: 0.9rem;
    }

    .itemLink{
      font-size: 0.8rem;
    }

    .memberItem{
      padding: 20px 16px;
    }

    .itemWrap p:not(:last-child) {
      padding-right: 8px;
    }
   

    .title{
      font-size: 1.5rem;
    }

   
  }
  
  @media screen and (min-width: 768px) {
    .memberStyle{
        padding: 32px;
        flex-direction: row;
        align-items: flex-start;
    }

    .memberList {
      max-width: 720px;
      font-size: 1rem;
    }

    .itemLink{
      font-size: 0.9rem;
    }

    .memberItem{
      padding: 20px 20px;
    }

    .itemWrap p:not(:last-child) {
      padding-right: 10px;
    }

    .itemWrap p:first-child {
      flex: 0 0 50%;
    }
    
    .itemWrap p:nth-child(2),
    .itemWrap p:nth-child(3) {
      flex: 0 0 25%;
    }


    .title{
      font-size: 2rem;
    }

    .interestsBlock ul li {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .memberBlock{
      width: 60%;
    }

    .interestsBlock {
      width: 40%;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .memberList {
      max-width: 900px;
      font-size: 1.2rem;
    }

    .itemLink{
      font-size: 1rem;
    }

    .memberStyle{
        padding: 40px 24px;
    }

    .title{
      font-size: 2.2rem;
    }

    .interestsBlock ul li {
      font-size: 1.2rem;
      margin-bottom: 12px;
    }
  }
  